// This SCSS lib requires modernizr.


// Partials
@import './mixins.scss';
@import './variables.scss';


// Modules
@import './util.scss';
@import './typography.scss';
@import './buttons.scss';
@import './navbar.scss';
@import './forms.scss';


// Globals

@include layout-util((6, 12, 28, 36, 60));

body {
    font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
    color: $col-default;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

/*
$col-default: rgba(53, 53, 49, 1);
$col-danger: rgba(236, 78, 32, 1);
$col-warning: rgba(255, 149, 5, 1);
$col-primary: rgba(1, 111, 185, 1);
$col-dark: rgba(0, 0, 0, 1);
$col-info: rgba(71, 0, 36, 1);
$col-secondary: rgba(110, 144, 117, 1);
$col-background: rgba(250, 250, 250, 1);
*/

/* Globals */


* {
    box-sizing: border-box;
}


html {
    background: $col-background;
    font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma;
}

body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

#wrapper {
    // Add padding to bottom
    padding-bottom: 200px;
    min-height: 100vh;
}

.contentwrapper {
    margin: 10px;
    transition: width 500ms ease;
}

.container {
    max-width: 1024px;
    margin: auto;
}

/* Banner */

#masthead {
    text-align: center;
    width: 100vw;
    background-color: rgba(255, 10, 10, 0.2);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 10, 10, 0.2)), to(rgba(10, 10, 255, 0.2)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 10, 10, 0.2), rgba(10, 10, 255, 0.2));
    background-image: -moz-linear-gradient(bottom, rgba(255, 10, 10, 0.2), rgba(10, 10, 255, 0.2));
    background-image: linear-gradient(to top, rgba(255, 10, 10, 0.2), rgba(10, 10, 255, 0.2));
    padding: 120px 0;
}

#masthead #profilepic {
    display: block;
    width: 180px;
    max-width: 100%;
    border-radius: 50%;
    margin: auto;
}

#masthead #mastheadtitle {
    margin-top: 0;
    font-size: 80px;
    font-weight: 400;
    font-family: 'Poiret One', cursive;    
}



a {
    text-decoration: none;
    color: $col-default;
}

.mesection {
    margin-top: 80px;
    text-align: center;
}

.bubble {
    background: rgba($col-default, 0.3);
    border-radius: 50%;
}

#techstackbubble {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    overflow: hidden;
}

#screensizes {
    max-width: 700px;
}

#techstackbubble-content {
    height: 200px;
    width: 99999px;
    margin-left: 200px;
    animation: cycletechnologies 30s 0s linear infinite;
}
@keyframes cycletechnologies {
    from { margin-left: 200px; }
    to { margin-left: -2900px; }
}

#techstackbubble-content img {
    display: block;
    float: left;
    margin: 40px;
    max-height: 120px;
    max-width: 120px;
}



// Projects


#myprojects {

}

.project-article {

    .title {
        margin-bottom: 5px;
    }

    .proj-type-colors .proj-type-color {
        margin-left: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
    }

    .proj-type-colors .proj-type-color.webapp {
        background-color: $col-warning;
    }

    .proj-type-colors .proj-type-color.desktopapp {
        background-color: $col-secondary;
    }

    .proj-type-colors .proj-type-color.mobileapp {
        background-color: $col-danger;
    }

    .proj-type-colors .proj-type-color.util {
        background-color: $col-info;
    }

}



