// This SCSS lib requires modernizr.


// Partials
@import './mixins.scss';
@import './variables.scss';


// Modules
@import './util.scss';
@import './grid.scss';
@import './typography.scss';
@import './buttons.scss';
@import './navbar.scss';
@import './forms.scss';
@import './console.scss';
@import './alert.scss';
@import './modals.scss';


// Globals

@include layout-util((6, 12, 28, 36, 60));

body {
    font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
    color: $col-default;
}

figure {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

iframe {
    margin: 10px 0;
    border: 0;
    display: block;
}

/*
$col-default: rgba(53, 53, 49, 1);
$col-danger: rgba(236, 78, 32, 1);
$col-warning: rgba(255, 149, 5, 1);
$col-primary: rgba(1, 111, 185, 1);
$col-dark: rgba(0, 0, 0, 1);
$col-info: rgba(71, 0, 36, 1);
$col-secondary: rgba(110, 144, 117, 1);
$col-background: rgba(250, 250, 250, 1);
*/

/* Globals */


* {
    box-sizing: border-box;
}


html {
    background: $col-background;
    font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;

}

.console {
    margin-top: 10px;
}

#wrapper {
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.contentwrapper {
    user-select: contain;
    margin: 10px;
    transition: width 500ms ease;
    min-height: 100vh;
    min-height: calc(100vh - 232px);
    margin-bottom: 200px;
}


/* Banner */

#masthead {
    text-align: center;
    width: 100vw;
    background-color: rgba(255, 10, 10, 0.2);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 10, 10, 0.2)), to(rgba(10, 10, 255, 0.2)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 10, 10, 0.2), rgba(10, 10, 255, 0.2));
    background-image: -moz-linear-gradient(bottom, rgba(255, 10, 10, 0.2), rgba(10, 10, 255, 0.2));
    background-image: linear-gradient(to top, rgba(255, 10, 10, 0.2), rgba(10, 10, 255, 0.2));
    padding: 120px 0;
}

#masthead #profilepic {
    display: block;
    width: 180px;
    max-width: 100%;
    border-radius: 50%;
    margin: auto;
}

#masthead #mastheadtitle {
    margin-top: 0;
    font-size: 80px;
    font-weight: 400;
    font-family: 'Poiret One', cursive;    
}



a {
    text-decoration: none;
    color: $col-primary;
}

.mesection {
    margin-top: 80px;
    text-align: center;
}

.bubble {
    background: rgba($col-default, 0.3);
    border-radius: 50%;
}

#techstackbubble {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    overflow: hidden;
}

#screensizes {
    max-width: 700px;
}
#techstackbubble-inner {
    overflow: visible;
    display: inline-block;
}

#techstackbubble-content {
    margin: 40px 0;
    height: 200px;
    animation: cycletechnologies 40s 0s linear infinite;
    white-space: nowrap;
    overflow: visible;
    display: block;
}
@keyframes cycletechnologies {
    from { transform: translateX(200px); }
    to { transform: translateX(calc(-1000px - 100%)); }
}

#techstackbubble-content img {
    display: inline-block;
    max-height: 120px;
    max-width: 180px;
    padding-left: 60px;
}



// Projects

#rocket-text {
    font-size: 160px;
    position: absolute;
    top: 40%;
    top: calc(50% - 160px); left: 0; right: 0;
    z-index: 200;
    text-shadow: 0 0 3px rgb(0,0,0);
    text-shadow: 0 0 3px rgba(0,0,0, 0.7);
}


#myprojects {

}

#rocket-masthead {
    width: 100vw;
    position: relative;
    img {
        width: 100vw;
    }
}

.project-article {
    margin-top: 60px;
    box-shadow: 0 0 8px 1px rgba(0,0,0, 0.14), 0 0 40px 20px rgba(0,0,0,0.05);
    padding: 20px;
    h1.title {
        margin-top: 7px;
    }

    .proj-type-colors, .proj-techs {
        display: block;
        float: left;
    }

    .proj-techs {
        margin-left: 20px;
    }

    .proj-type-colors .proj-type-color, .proj-techs .proj-tech {
        margin-left: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
    }

    .proj-techs .proj-tech {
        background: rgba($col-secondary, 0.5);
        text-align: center;
        overflow: hidden;
        background-position: center center;
        background-size: 70%;
        background-repeat: no-repeat;
    }
    // .proj-techs .proj-tech .img {
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .proj-techs .proj-tech .imgbefore {
    //     display: inline-block;
    //     height: 100%;
    //     vertical-align: middle;
    //     width: 0;
    //     margin-right: -4px; // I dont know why this works but it does.
    // }

    .proj-type-colors .proj-type-color.webapp {
        background-color: $col-warning;
    }

    .proj-type-colors .proj-type-color.desktopapp {
        background-color: $col-secondary;
    }

    .proj-type-colors .proj-type-color.mobileapp {
        background-color: $col-danger;
    }

    .proj-type-colors .proj-type-color.util {
        background-color: $col-info;
    }

    .images {
        float: left;
        width: 90vw;
        max-width: 1000px;
    }

    .images img {
        height: 160px;
        display: block;
        float: left;
        margin: 10px;
    }
}

footer {
    position: absolute;
    bottom: 0; right: 0; left: 0;
    user-select: contain;
}
ul#footer-links {
    list-style: none;
    margin: 3px;
    text-align: right;
}
ul#footer-links li {
    display: inline-block;
    margin-right: 10px;
}
ul#footer-links li::before {
    font-family: Arial, Helvetica, sans-serif;
    content: " \2022 ";
}

.project-article iframe {
    width: 100%;
    height: 600px;
}

// masthead

// particlesjs
#particles-js {
    top: 0; left: 0; right: 0; bottom: 0;
    position: absolute;
}

#masthead-header {
    position: relative;
}