

<article class="project-article" keywords="{{$ctrl.project.keywords.join(', ')}}" 
    webapp="{{$ctrl.project.webApp}}" 
    desktopapp="{{$ctrl.project.desktopApp}}" 
    mobile="{{$ctrl.project.mobileApp}}"
    util="{{$ctrl.project.util}}">
    <h1 class="title">{{$ctrl.project.title}}</h1>
    <div class="proj-type-colors">
        <div class="proj-type-color webapp" ng-if="$ctrl.project.webApp"></div>
        <div class="proj-type-color desktopapp" ng-if="$ctrl.project.desktopApp"></div>
        <div class="proj-type-color mobileapp" ng-if="$ctrl.project.mobileApp"></div>
        <div class="proj-type-color util" ng-if="$ctrl.project.util"></div>
        <div class="clearfix"></div>
    </div>
    <p ng-bind-html="$ctrl.project.content"></p>
</article>
